<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Photo Book</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css?h=d41d8cd98f00b204e9800998ecf8427e">
    <link rel="stylesheet" href="../assets/css/FontAwesome.css?h=16ab057213b0065fe3f5bda37a221227">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css?h=a24cb0112e51902b6b3ed4606a7cd727">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-grid.compiled.css?h=70a56d3d96d3c68c457bdd7e1d49ad2a">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-reboot.compiled.css?h=e0fe04da3a84693f10578b815fde60a2">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-utilities.compiled.css?h=66e56117e503ace0c377f4b89b9d1085">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.compiled.css?h=c02cbc6e1dfc556e07ab94bb39f51223">
    <link rel="stylesheet" href="../assets/css/black-book-view.css?h=83be55d2b5911c3b6f2da128df97477a">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css?h=ca882ac7168f66052c1c2470990746a5">
    <link rel="stylesheet" href="../assets/css/page.compiled.css?h=63036e3de7fed1f906a0e730f6fe585a">
    <link rel="stylesheet" href="../assets/css/short-black-book-view.css?h=e87a099181b852d82c155609d3bafd30">
    <link rel="stylesheet" href="../assets/css/short-white-book-view.css?h=0ca48e446e14c5f69786c63f9aea7c5c">
    <link rel="stylesheet" href="../assets/css/white-book-view.css?h=96879099eef0c0ee99f0f0fea4c51323">
</head>

<body><div id="fb3d-ctx" class="flip-book">
  <div class="view">
    <div class="fnav">
      <div class="prev">
        <a class="cmdBackward" href="#"><span class="icon"><i class="fa fa-angle-left" title="<$tr>Previous page</$tr>"></i></span></a>
      </div>
      <div class="next">
        <a class="cmdForward" href="#"><span class="icon"><i class="fa fa-angle-right" title="<$tr>Next page</$tr>"></i></span></a>
      </div>
    </div>
    <div class="widLoadingProgress loading-progress hidden">
      <div class="progress">
      </div>
      <div class="txtLoadingProgress caption">
      </div>
    </div>
    <div class="widLoading page-loading hidden">
    </div>
  </div>

  <div class="widFloatWnd float-wnd hidden">
    <div class="header">
      &lt;$tr&gt;Table of contents<!--$tr-->
      <a href="#" title="<$tr>Close</$tr>" class="close cmdCloseToc">
        <span class="icon"><i class="fa fa-times"></i></span>
      </a>
    </div>
    <div class="body">
      <div class="ctrl">
        <div class="toc">
          <div class="toc-menu widTocMenu">
            <ul>
              <li class="cmdBookmarks"><a href="#">&lt;$tr&gt;Bookmarks<!--$tr--></a></li>
              <li class="cmdThumbnails"><a href="#">&lt;$tr&gt;Thumbnails<!--$tr--></a></li>
              <li class="cmdSearch"><a href="#">&lt;$tr&gt;Search<!--$tr--></a></li>
            </ul>
          </div>
          <div class="widBookmarks toc-view">

          </div>
          <div class="widThumbnails toc-view">

          </div>
          <div class="widSearch toc-view">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">

    <div class="ctrl js-center">
      <nav class="fnavbar">
        <ul class="fnav">

          <li class="fnav-item cmdZoomIn"><a href="#"><span class="icon"><i class="fa fa-search-plus" title="<$tr>Zoom in</$tr>"></i></span></a></li>
          <li class="fnav-item cmdZoomOut"><a href="#"><span class="icon"><i class="fa fa-search-minus" title="<$tr>Zoom out</$tr>"></i></span></a></li>
          <li class="fnav-item cmdDefaultZoom"><a href="#"><span class="icon"><i class="fa fa-compress" title="<$tr>Fit view</$tr>"></i></span></a></li>
          <li class="fnav-item cmdToc"><a href="#"><span class="icon"><i class="fa fa-bookmark" title="<$tr>Table of contents</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastBackward"><a href="#"><span class="icon"><i class="fa fa-fast-backward" title="<$tr>10 pages backward</$tr>"></i></span></a></li>
          <li class="fnav-item cmdBackward"><a href="#"><span class="icon"><i class="fa fa-backward" title="<$tr>Previous page</$tr>"></i></span></a></li>
          <li class="fnav-item">
            <div class="pages">
              <input type="text" class="number inpPage" maxlength="4" placeholder="1">
              <input type="text" class="amount inpPages" readonly="" maxlength="4" placeholder="1">
            </div>
          </li>
          <li class="fnav-item cmdForward"><a href="#"><span class="icon"><i class="fa fa-forward" title="<$tr>Next page</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFastForward"><a href="#"><span class="icon"><i class="fa fa-fast-forward" title="<$tr>10 pages forward</$tr>"></i></span></a></li>
          <li class="fnav-item cmdSave"><a href="#"><span class="icon"><i class="fa fa-download" title="<$tr>Download</$tr>"></i></span></a></li>
          <li class="fnav-item cmdPrint"><a href="#"><span class="icon"><i class="fa fa-print" title="<$tr>Print</$tr>"></i></span></a></li>
          <li class="fnav-item cmdFullScreen"><a href="#"><span class="icon"><i class="fa fa-arrows-alt" title="<$tr>Full screen</$tr>"></i></span></a></li>
          <li class="dropup fnav-item toggle widSettings">
            <a href="#"><div class="icon-caret"><span class="icon"><i class="fa fa-cog" title="<$tr>Settings</$tr>"></i> <i class="caret"></i></span></div></a>
            <ul class="menu hidden">
              <li class="cmdSmartPan"><a href="#"><span class="icon"><i class="fa fa-eye"></i></span> &lt;$tr&gt;Smart pan<!--$tr--></a></li>
              <li class="cmdSinglePage"><a href="#"><span class="icon"><i class="fa fa-file-o"></i></span> &lt;$tr&gt;Single page<!--$tr--></a></li>
              <li class="cmdSounds"><a href="#"><span class="icon"><i class="fa fa-volume-up"></i></span> &lt;$tr&gt;Sounds<!--$tr--></a></li>
              <li class="cmdStats"><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span> &lt;$tr&gt;Stats<!--$tr--></a></li>
              <li class="divider"></li>
              <li class="cmdLightingUp"><a href="#"><span class="icon"><i class="fa fa-chevron-up"></i></span> &lt;$tr&gt;Increase lighting<!--$tr--></a></li>
              <li class="cmdLightingDown"><a href="#"><span class="icon"><i class="fa fa-chevron-down"></i></span> &lt;$tr&gt;Reduce lighting<!--$tr--></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
    <script src="../assets/js/jquery.min.js?h=84e399b8f2181ccd73394fdeddff1638"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
    <script src="../assets/js/html2canvas.min.js?h=07e548be7741676c48528025c35dc029"></script>
    <script src="../assets/js/three.min.js?h=46a688c7e13e52123da51c241bf681ad"></script>
    <script src="../assets/js/pdf.min.js?h=a57dea2ee381109649f855bea9f9287b"></script>
    <script src="../assets/js/pdf.worker.js?h=91154e82d9c8ab5111f3c8565fb54ec5"></script>
    <script src="../assets/js/default-book-view.js?h=26769440cc840881dafdd00ae43e0c12"></script>
    <script src="../assets/js/3dflipbook.min.js?h=dee594d07229c9caa74fc83436bafe1b"></script>
</body>

</html>